{% extends "layout.html" %}

{% block content %}
    {% for hotel in posts %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <h2><a class="article-title" href="#">{{ hotel.name }}</a></h2>
          <small class="text-muted">{{ hotel.city }},</small>
          <small class="text-muted">{{ hotel.state }},</small>
          <small class="text-muted">{{ hotel.country }}</small>
          <p class="article-content">{{ hotel.rating }}</p>
          <p class="article-content">{{ hotel.price_cat }}</p>
        </div>
      </div>
    </article>
    {% endfor %}
{% endblock content %}
