{% extends "owner_layout.html" %}

{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <h2 class="article-title">{{ hotel.name }}</h2><h3>{{ hotel.city }}, {{ hotel.state }}, {{ hotel.country }}</h3>
          <p class="article-content">Stars: {{ hotel.rating }} <br> Price: {{ hotel.price_cat }} <br>Price per night: ${{ hotel.price_night }} <br>Description: {{ hotel.content }}

            <a target="_blank" href="{{ pic_1 }}">
              <img src="{{ pic_1 }}" style="width:125px">
            </a>
          {% if hotel.owner_id == current_user.id %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_hotel', hotel_id=hotel.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
              </div>
          {% endif %}
      </article>

      <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Hotel?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_hotel', hotel_id=hotel.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete">
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
